/*.bin
/*.cache
/*.gz
/*.hfst*
/*.in
/*.log
/*.m4
/*.mode
/*.ol
/*.pc
/*.prob
/*.status
/.deps
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/install-sh
/missing
/modes
