* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-fin-fkv.fin-fkv.dix -text
/apertium-fin-fkv.fin-fkv.lrx -text
/apertium-fin-fkv.fin-fkv.rlx -text
/apertium-fin-fkv.fin-fkv.t1x -text
/apertium-fin-fkv.fin-fkv.t2x -text
/apertium-fin-fkv.fin-fkv.t3x -text
/apertium-fin-fkv.fkv-fin.lrx -text
/apertium-fin-fkv.fkv-fin.rlx -text
/apertium-fin-fkv.fkv-fin.t1x -text
/apertium-fin-fkv.fkv-fin.t2x -text
/apertium-fin-fkv.fkv-fin.t3x -text
/autogen.sh -text
/configure.ac -text
dev/bidix-sanity.sh -text
dev/punctuation.lexc -text
dev/transfer.txt -text
/fin-fkv.prob -text svneol=unset#unset
/fkv-fin.prob -text svneol=unset#unset
/modes.xml -text
texts/sailor.fin.txt -text
texts/sailor.fkv.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
